.lang_menu {
  /* position: fixed; */
  /* right: 100px; */
  width: 100%vw;
  object-fit: contain;

  /* width: 100px;
  text-align: right;
  font-weight: bold; */
  /* margin-top: 25px; */
  cursor: pointer;
  position: relative;
}
.lang_menu .selected_lang {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}
.lang_menu .selected_sv {
  content: '';
  display: inline-block;
  width: 36px;
  height: 32px;
  background-image: url(https://flagcdn.com/w40/se.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang_menu .selected_en {
  content: '';
  display: inline-block;
  width: 36px;
  height: 32px;
  background-image: url(https://flagcdn.com/w40/us.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang_menu .selected_ml {
  content: '';
  display: inline-block;
  width: 36px;
  height: 32px;
  background-image: url(https://flagcdn.com/w40/in.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang_menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
  z-index: 100;
  /* background-color: #fff;
  border: 1px solid #f8f8f8; */
  position: absolute;
  top: 45px;
  /* right: 0px; */
  width: 130px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang_menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  color: #fff;
}

.lang_menu ul li div {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.lang_menu ul li:hover {
  background-color: #575252e5;
  border-radius: 10px;
}

.lang_menu ul li div:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.sv:before {
  background-image: url(https://www.countryflags.io/se/flat/32.png);
}

.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.ml:before {
  background-image: url(https://www.countryflags.io/in/flat/32.png);
}

/* .lang_menu:hover ul {
  display: block;
} */

.show_option {
  display: block !important;
}
