body {
  background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grid.png');
}
.panel {
  background: white;
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}
.panel .panel .close {
  margin-top: 10px;
  margin-right: 20px;
}
.panel h4,
.panel p {
  padding-left: 20px;
  padding-right: 20px;
}
.panel h4 {
  margin-top: 20px;
}
.panel .actions {
  padding: 20px;
  background: #f4f4f4;
}
.panel hr {
  margin-bottom: 0;
}
.panel .alert {
  border-radius: 0;
  border: 0;
}
