:root {
  --modal-duration: 1s;
  --modal-color: linear-gradient(to top, #761818, #f3686a);
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_content {
  margin: 10% auto;
  width: 40%;
  /* box-shadow: 0 5px 8px 0 rgba(253, 251, 251, 0.459),
    0 7px 20px 0 rgba(31, 30, 30, 0.17); */
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal_header h2,
.modal_footer h3 {
  margin: 0;
}

.modal_header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal_body {
  padding: 10px 20px;
  background: #fff;
}

.modal_footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalBtn {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  min-width: 110px;
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.7rem 2rem;
  margin-right: 1rem;
  background-color: rgb(51, 51, 51, 0.5);
}

.modalBtn:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
