.box {
  /* position: absolute; */
  /* top: 20%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.box select {
  background: #0563af;
  color: #fff;
  padding: 10px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  outline: none;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #007ce0;
}

.box:hover::before {
  background: #0472ca;
}
