.container {
  margin-top: 1px;
  padding: 2px;
}

.select_box {
  display: flex;
  width: 10rem;
  flex-direction: column;
}

.select_box .options_container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: '';
  /* background: url('img/arrow-down.svg'); */
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select_box .options_container.active {
  max-height: 20rem;
  opacity: 1;
  overflow-y: scroll;
}

.select_box .options_container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select_box .options_container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select_box .options_container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select_box .option,
.selected {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.select_box .option:hover {
  background: #414b57;
}

.select_box label {
  cursor: pointer;
}

.select_box .option .radio {
  display: none;
}
