.form {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option_selectors {
  position: relative;
  display: flex;
}

.screen_selector {
  position: absolute;
  top: 20px;
  left: 20px;
}

.time_selector {
  position: absolute;
  top: 20px;
  left: 60px;
}
