.container {
  color: white;
  text-align: center;
  margin: auto;
  text-align: left;
  width: 70%;
  position: absolute;
  left: 30%;
}

.close_button {
  display: flex;
  width: 35vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.checkout_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  min-width: 110px;
  font-weight: bolder;
  border-radius: 0.4vw;
  padding: 1rem 2rem;
  margin-right: 1rem;
  background-color: rgb(51, 51, 51, 0.5);
}

.checkout_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
