.theatre {
  display: flex;
  margin-top: 2rem;
  /* position: absolute; */
  /* top: 70%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.cinema_seats {
  display: flex;
}
.cinema_seats .seat {
  cursor: pointer;
}

.cinema_seats .seat:hover:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  background: #39c421;
  border-radius: 7px;
}
.cinema_seats .seat.selected:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffce26;
  border-radius: 7px;
}

.cinema_seats .seat.unavailable:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #444451;
  border-radius: 7px;
}
.cinema_seats .seat.unavailable:hover:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #444451;
  border-radius: 7px;
  cursor: not-allowed;
}

.left .cinema_row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  /* background: #7a7975; */
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row_2 {
  transform: skew(-13deg);
}
.left .row_2 .seat {
  transform: skew(18deg);
}
.left .row_3 {
  transform: skew(-12deg);
}
.left .row_3 .seat {
  transform: skew(16deg);
}
.left .row_4 {
  transform: skew(-11deg);
}
.left .row_4 .seat {
  transform: skew(15deg);
}
.left .row_5 {
  transform: skew(-10deg);
}
.left .row_5 .seat {
  transform: skew(12deg);
}
.left .row_6 {
  transform: skew(-9deg);
}
.left .row_6 .seat {
  transform: skew(10deg);
}
.left .row_7 {
  transform: skew(-7deg);
}
.left .row_7 .seat {
  transform: skew(8deg);
}
.right {
  margin-left: 70px;
}
.right .cinema_row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  /* background: #7a7975; */
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row_2 {
  transform: skew(9deg);
}
.right .row_2 .seat {
  transform: skew(-10deg);
}
.right .row_3 {
  transform: skew(10deg);
}
.right .row_3 .seat {
  transform: skew(-12deg);
}
.right .row_4 {
  transform: skew(11deg);
}
.right .row_4 .seat {
  transform: skew(-15deg);
}
.right .row_5 {
  transform: skew(12deg);
}
.right .row_5 .seat {
  transform: skew(-16deg);
}
.right .row_6 {
  transform: skew(13deg);
}
.right .row_6 .seat {
  transform: skew(-18deg);
}
.right .row_7 {
  transform: skew(15deg);
}
.right .row_7 .seat {
  transform: skew(-20deg);
}
