.container {
  padding: 0;
  background-color: #080808;
}

.movie_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  row-gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.screen_container {
  perspective: 1000px;
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen {
  background: #fff;
  height: 6rem;
  width: 20rem;
  margin: 0 auto;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.movie_ticket {
  max-height: 10rem;
}
.showcase_container {
  width: 10rem;
}

@media screen and (min-width: 1170px) {
  .container_center {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.1rem;
    grid-template-rows: repeat(6, 100px);
    grid-template-areas:
      'z z z z z'
      'a a a a a'
      'a a a a a'
      'b b b b b'
      'c c c c c'
      'd d d d d';
  }

  .screen_container {
    grid-area: z;
  }
  .seat_layout {
    grid-area: a;
  }
  .movie_ticket {
    grid-area: c;
  }
  .checkout_panel {
    grid-area: d;
  }
  .showcase_container {
    grid-area: b;
  }
}
