.banner {
  color: white;
  object-fit: contain;
  /* position: relative; */
  height: 448px;
}

.banner_contents {
  top: 0;
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.selectors {
  display: flex;
  justify-content: space-around;
}
