.form {
  position: fixed;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signin_form,
.signin_form * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

.signin_form {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.signin_form__content {
  padding: 30px;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_form__header {
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
  font-weight: bolder;
}

.signin_form__input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: #ffffff;
  outline: none;
  transition: border-color 0.5s;
}

.signin_form__input:focus {
  border-color: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
}

.signin_form__input::placeholder {
  color: #aaaaaa;
}

.signin_form__button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background: rgba(27, 27, 27, 0.5);
  /* background: #000; */
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.signin_form__button:hover {
  color: #fff;
  background: #000;
}

.signin_form__button:active {
  color: #000;
  background-color: #e6e6e6;
}
