.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_form,
.login_form * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

.login_form {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login_form__content {
  padding: 30px;
  background: #eeeeee;
}

.login_form__header {
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
}

.login_form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: #ffffff;
  outline: none;
  transition: border-color 0.5s;
}

.login_form__input:focus {
  border-color: #009578;
}

.login_form__input::placeholder {
  color: #aaaaaa;
}

.login_form__button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(to bottom, #e84c3d 50%, #e84c3d 50%);
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.login_form__button:active {
  background: linear-gradient(to bottom, #e84c3d 50%, #e84c3d 50%);
}

.login_form__links {
  margin-top: 15px;
  text-align: center;
}

.login_form__link {
  font-size: 0.9em;
  color: #000;

  text-decoration: none;
}
