.container {
  display: flex;
  flex-direction: column;
}

.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  position: absolute;
  top: 0;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.movie_info {
  position: absolute;
  top: 20%;
  width: 45rem;
  line-height: 1;
  font-size: 0.4rem;
  font-weight: bolder;
  max-width: 360px;
  height: 80px;
  text-align: justify;
}

.movie_description {
  width: 45rem;
  line-height: 1.3;
  font-size: 0.8rem;
  font-weight: bolder;
  max-width: 400px;
  height: 80px;
  text-align: justify;
}

.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.selectors {
  display: flex;
  justify-content: space-around;
}
