.row {
  padding: 0 1rem;
  color: #fff;
}

.row_title {
  margin: 0;
}

.row_posters {
  display: grid;
  width: 90vw;
  max-width: 1200px;
  margin: 2rem auto;
  align-items: center;
  justify-items: center;
  gap: 2rem 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.poster_container {
  max-height: 280px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.row_poster {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 450ms;
}
.movie_info {
  position: absolute;
  bottom: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  width: 100%;
  transition: all 450ms ease-in;
}
.movie_info h3 {
  margin: 0;
}
.movie_info h4 {
  margin: 0;
}

.poster_actions {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -5rem;
  width: 100%;
  /* margin-left: 1rem;
  margin-right: 1rem; */
  transition: all 450ms ease-in;
  visibility: hidden;
}

.poster_container:hover .poster_actions {
  visibility: visible;
  bottom: 1rem;
}

.poster_container:hover .movie_info {
  bottom: 5rem;
}

.book_btn {
  cursor: pointer;
  color: #000;
  outline: none;
  border: none;
  font-size: xx-small;
  font-weight: bolder;
  border-radius: 0.4vw;
  padding: 0.7rem;
  width: 100%;
  background-color: #fff;
}

.nav_booknow_btn {
  background-color: #fff;
  width: calc((100% - 3rem) / 2);
  border-radius: 0.4vw;
}

.row_poster:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.explore_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(51, 51, 51, 0.5);
}

.nav_link {
  text-decoration: none;
}

.explore_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

@media screen and (max-width: 380px) {
  .row_title {
    margin: 0;
    text-align: center;
  }
}
