.section {
  padding: 1rem 0;
}
.footer {
  background: rgb(2, 15, 26);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer_links,
.footer_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer_links a {
  text-decoration: none;
}
.footer_icons li {
  list-style: none;
}
.footer_link {
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: 0.25rem;
  transition: all 0.3s linear;
}
.footer_link:hover {
  color: rgb(255, 38, 0);
}
.footer_icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: rgb(255, 38, 0);
  transition: all 0.3s linear;
}
.footer_icon:hover {
  color: rgb(199, 126, 113);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  color: #fff;
}
