.form_container {
  margin: 20px auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 32rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.closeLink {
  position: absolute;
  top: 2%;
  right: 3%;
}

.close_btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form_content_left {
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

/* .form_content_right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: #f3686a;
} */

.form_img {
  width: 80%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.form_img_2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}
