.book_btn {
  cursor: pointer;
  color: #000;
  outline: none;
  border: none;
  font-size: xx-small;
  font-weight: bolder;
  border-radius: 0.4vw;
  padding: 0.7rem;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.nav_booknow_btn {
  background-color: #fff;
  width: calc((100% - 3rem) / 2);
  border-radius: 10px;
}
