.banner {
  color: white;
  object-fit: contain;
  /* position: relative; */
  height: 448px;
}

.banner_contents {
  top: 0;
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
  text-align: justify;
}

.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: bolder;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgb(51, 51, 51, 0.5);
}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

/* Styling for Slick */
.button__bar {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.button__bar li {
  display: inline;
  cursor: pointer;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #808080;
  color: transparent;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: #fff;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: rgba(247, 34, 34, 0.8);
  outline: 0;
}
