.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
}

.modalContainerFixed {
  position: relative;
}
.modalContainer {
  position: fixed;
  z-index: 1000;
  top: 15%;
  left: 12%;
  width: 75%;
  height: 70%;
  max-height: 440px;
  background-color: black;
  border: 2px solid white;
}

.closeBtn {
  position: absolute;
  z-index: 1001;
  top: -1%;
  left: 94%;
  font-size: 30px;
  color: crimson;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal {
  position: absolute;
  z-index: 1000;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 72%;
}

.closeBtn:hover {
  cursor: pointer;
  transform: scale(1.3);
}
